<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>标签打印</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery-ui-1.10.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/layer-app.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery-bpopup-min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
</head>
<body>
	<div id="app">
	    <div class="content">
	        <div class="container">
				<a href="home.html" style="font-size:18px;"><div class="menu" style="margin-top:20px;">返回上级</div></a>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						条码信息 <input type="text" id="txtBarcode" style="width: 72%" v-model="info.tiaoma" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						提示信息 <input type="text" id="txtNotification" style="width: 72%" v-model="info.message" />
					</span>
	      		</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						供 应 商 <input type="text" id="txtVendor" style="width: 72%" v-model="info.group" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料编码 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr" />
					</span>
	      		</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						批次信息 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_batch" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						生产日期 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_date" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						数量 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_number" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align:center">
						<input type="button" id="btnDelete" value=" 重置 " style="color: #666666;" @click="btnDelete"/>
						&nbsp;&nbsp;<input type="button" id="btnAdd" value="打印批次条码" style="color: #666666;" @click="btnSubmit"/>
					</span>
				</div> 
			</div>
	    </div>		
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            info:{}
        },
        methods:{
            initialize:function() {
                console.log('初始化');
            },
            /**
             * [btnDelete 清空选项]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnDelete:function() {
                let that = this;
                that.info = {};
            },
            /**
             * [btnSubmit 提交信息]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnSubmit:async function() {
                let that = this;
                let validate = that.submit_validate();
                if(validate.error !== false) {
                    layer.alert(validate.message,szjcomo_service.layer_options({title:'参数完善提醒',icon:2}));
                    return false;
                }
                let result = await szjcomo_service.print(validate.data);
                if(result.error !== false) {
                    layer.alert(result.message,szjcomo_service.layer_options({title:'数据操作失败提醒',icon:2}));
                    return false;
                }
                console.log(result);
            },
            /**
             * [submit_validate 参数验证]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            submit_validate:function() {
                let that = this;
                let fields = {
                	tiaoma:'条码信息不能为空',
                	message:'提示信息不能为空',
                	group:'供应商名称不能为空',
                	matnr:'物料编号不能为空',
                	product_batch:'批次信息不能为空',
                	product_date:'生产日期不能为空',
                	product_number:'数量不能为空'
                };
                let res = szjcomo_service.check_empty(fields,that.info);
                return res;
            }
        },
        created:function() {
            this.initialize();
        }
    });
</script>
</body>
</html>