<!DOCTYPE html>
<html>
<head>
    <title>入库上架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery-ui-1.10.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/layer-app.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery-bpopup-min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
</head>
<body>
	<div id="app">
	    <div class="content">
	        <div class="container">	
				<a href="receive_home.html" style="font-size:18px;"><div class="menu" style="margin-top:20px;">返回上级</div></a>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						条码信息 <input type="text" id="txtBarcode" style="width: 72%" v-model="info.tiaoma"/>
					</span>
				</div>	
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						提示信息 <input type="text" id="txtNotification" style="width: 72%" v-model="info.message"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料编码 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料描述 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr_desc"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						生产批次 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_batch"/>
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						生产日期 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_date"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						上架数量 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_number"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						剩余入数 <input type="text" id="txtVendor" style="width: 72%" v-model="info.remainder"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						仓储类型 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_type"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						库存地点 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_address"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						货 架 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_number"/> 	          
					</span>
				</div> 
				<!-- <div class="normal-form-row">
					<span style="padding-top:10px; text-align: center">
						<input type="button" id="btnAdd" value=" 加 入 " style="color: #666666;" />	          
					</span>
				</div> -->
				<div style="height: 1px; background-color:#f2f3f4; margin-top:10px;"></div>
				<div class="normal-form-row">
					<span style="padding-top:20px; text-align:center">
						<input type="button" id="btnDelete" value="删除所选" style="color: #666666" @click="btnDelete"/>
						<input type="button" id="btnSubmit" value="提交SAP" style="color: #666666" @click="btnSubmit"/>
					</span>
				</div>	
				<div class="col-md-12">	
					<table>
					    <tbody id="tbody1">
					    </tbody>
					</table>
				</div>
			</div>
	    </div>		
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script>
    var app = new Vue({
    	el:'#app',
    	data:{
    		info:{
    			tiaoma:'',
    			message:'',
    			matnr:'',
    			matnr_desc:'',
    			product_batch:'',
    			product_date:'',
    			product_number:'',
    			remainder:'',
    			stock_type:'',
    			stock_address:'',
    			stock_number:''
    		}
    	},
    	methods:{
    		initialize:function() {

    		},
    		/**
    		 * [btnDelete 清空数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		btnDelete:function() {
    			let that = this;
    			that.info = {
	    			tiaoma:'',
	    			message:'',
	    			matnr:'',
	    			matnr_desc:'',
	    			product_batch:'',
	    			product_date:'',
	    			product_number:'',
	    			remainder:'',
	    			stock_type:'',
	    			stock_address:'',
	    			stock_number:''
    			};
    		},
    		/**
    		 * [btnSubmit 提交数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		btnSubmit:async function() {
    			let that = this;
    			let validate = that.submit_validate();
    			if(validate.error !== false) {
    				layer.alert(validate.message,szjcomo_service.layer_options({title:'信息完善提醒',icon:2}));
    				return false;
    			}
    			let result = await szjcomo_service.receive_onshelve(validate.data);
    			if(result.error !== false) {
    				layer.alert(result.message,szjcomo_service.layer_options({title:'入库上架失败提醒',icon:2}));
    				return false;
    			}
    			console.log(result);
    		},
    		/**
    		 * [submit_validate 验证数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		submit_validate:function() {
    			let that = this;
    			if(that.info.tiaoma.length == 0) return szjcomo_service.appResult('条码信息不能为空');
    			if(that.info.message.length == 0) return szjcomo_service.appResult('提示信息不能为空');
    			if(that.info.matnr.length == 0) return szjcomo_service.appResult('物料编码不能为空');
    			if(that.info.matnr_desc.length == 0) return szjcomo_service.appResult('物料描述信息不能为空');
    			if(that.info.product_batch.length == 0) return szjcomo_service.appResult('生产批次不能为空');
    			if(that.info.product_date.length == 0) return szjcomo_service.appResult('生产日期不能为空');
    			if(that.info.product_number.length == 0) return szjcomo_service.appResult('上架数量不能为空');
    			if(that.info.remainder.length == 0) return szjcomo_service.appResult('剩余入数不能为空');
    			if(that.info.stock_type.length == 0) return szjcomo_service.appResult('仓储类型不能为空');
    			if(that.info.stock_address.length == 0) return szjcomo_service.appResult('库存地点不能为空');
    			if(that.info.stock_number.length == 0) return szjcomo_service.appResult('货 架不能为空');
    			return szjcomo_service.appResult('SUCCESS',that.info,false);
     		}
    	},
    	created:function() {
    		this.initialize();
    	}
    });
</script>
</body>
</html>