<!DOCTYPE html>
<html>
<head>
    <title>收货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery-ui-1.10.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/layer-app.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery-bpopup-min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
    <script type="text/javascript">
        function creatTable(data){
             var tableData="<tr>"
             //动态增加5个td,并且把data数组的五个值赋给每个td
             for(var i=0;i<data.length;i++){
                tableData+="<td>"+data[i]+"</td>"
             }
             tableData+="</tr>"
             //现在tableData已经生成好了，把他赋值给上面的tbody
             $("#tbody1").html(tableData)
        }
    </script>
</head>
<body>
    <div id="app">
        <div class="content">
            <div class="container">     
                <a href="receive_home.html" style="font-size:18px;"><div class="menu" style="margin-top:20px;">返回上级</div></a>
                <div class="normal-form-row">
                    <span style="padding-top:10px; text-align: right">
                        条码信息 <input type="text" id="txtBarcode" style="width: 72%" v-model="info.matnr"/>
                    </span>
                </div>
                <div class="normal-form-row">
                    <span style="padding-top:10px; text-align: right">
                        提示信息 <input type="text" id="txtNotification" style="width: 72%" v-model="info.txz01" />
                    </span>
                </div>
                <div class="normal-form-row">
                    <span style="padding-top:10px; text-align: right">
                        供 应 商 <input type="text" id="txtVendor" style="width: 72%" v-model="info.lifnr"/>
                    </span>
                </div>
                <div style="height: 1px; background-color: #f2f3f4; margin-top:10px;"></div>
                <div class="normal-form-row">
                    <span style="padding-top:20px; text-align:center">
                    <input type="button" id="btnDelete" value="删除所选" style="color: #666666" @click="btnDelete"/>
                    <input type="button" id="btnSubmit" value="提交SAP" style="color: #666666" @click="btnSubmit"/>
                    </span>
                </div>  
                <div class="col-md-12"> 
                    <table>
                        <tbody id="tbody1">
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>        
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            info:{
                matnr:'000004634140208596',
                txz01:'',
                lifnr:'105113',
                menge:0,
                ebeln:'400011936',
                lfnam:''
            }
        },
        methods:{
            initialize:function() {
                console.log('初始化');
            },
            /**
             * [btnDelete 清空选项]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnDelete:function() {
                let that = this;
                that.info = {
                    matnr:'',
                    txz01:'',
                    lifnr:'',
                    menge:0,
                    ebeln:'',
                    lfnam:''
                };
            },
            /**
             * [btnSubmit 提交信息]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnSubmit:async function() {
                let that = this;
                let validate = that.submit_validate();
                if(validate.error !== false) {
                    layer.alert(validate.message,szjcomo_service.layer_options({title:'参数完善提醒',icon:2}));
                    return false;
                }
                let result = await szjcomo_service.receive_goods({ltPoitem:{item:[validate.data]}});
                if(result.error !== false) {
                    layer.alert(result.message,szjcomo_service.layer_options({title:'数据操作失败提醒',icon:2}));
                    return false;
                }
                layer.alert(result.message,szjcomo_service.layer_options({icon:2,title:'数据操作成功提醒'}));
            },
            /**
             * [submit_validate 参数验证]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            submit_validate:function() {
                let that = this;
                if(that.info.matnr.length == 0) return szjcomo_service.appResult('条码信息不能为空');
                if(that.info.lifnr.length == 0) return szjcomo_service.appResult('供应商名称不能为空');
                return szjcomo_service.appResult('SUCCESS',that.info,false);
            }
        },
        created:function() {
            this.initialize();
        }
    });
</script>
</body>
</html>