<!DOCTYPE html>
<html>
<head>
    <title>入库上架</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery-ui-1.10.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/layer-app.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery-bpopup-min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
</head>
<body>
	<div id="app">
	    <div class="content">
	        <div class="container">	
				<a href="receive_home.html" style="font-size:18px;"><div class="menu" style="margin-top:20px;">返回上级</div></a>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						工厂编号 <input type="text" id="txtBarcode" style="width: 72%" v-model="info.werks"/>
					</span>
				</div>	
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						提示信息 <input type="text" id="txtNotification" style="width: 72%"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料编码 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料描述 <input type="text" id="txtVendor" style="width: 72%" v-model="info.maktx"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						生产批次 <input type="text" id="txtVendor" style="width: 72%" v-model="info.charg"/>
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						生产日期 <input type="text" id="txtVendor" style="width: 72%" v-model="info.pridt"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						上架数量 <input type="text" id="txtVendor" style="width: 72%" v-model="info.inpme"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						剩余入数 <input type="text" id="txtVendor" style="width: 72%"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						仓储类型 <input type="text" id="txtVendor" style="width: 72%" v-model="info.letyp"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						库存地点 <input type="text" id="txtVendor" style="width: 72%" v-model="info.lgort"/>
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						货 架 <input type="text" id="txtVendor" style="width: 72%" v-model="info.lgnum"/> 	          
					</span>
				</div> 
				<!-- <div class="normal-form-row">
					<span style="padding-top:10px; text-align: center">
						<input type="button" id="btnAdd" value=" 加 入 " style="color: #666666;" />	          
					</span>
				</div> -->
				<div style="height: 1px; background-color:#f2f3f4; margin-top:10px;"></div>
				<div class="normal-form-row">
					<span style="padding-top:20px; text-align:center">
						<input type="button" id="btnDelete" value="删除所选" style="color: #666666" @click="btnDelete"/>
						<input type="button" id="btnSubmit" value="提交SAP" style="color: #666666" @click="btnSubmit"/>
					</span>
				</div>	
				<div class="col-md-12">	
					<table>
					    <tbody id="tbody1">
					    </tbody>
					</table>
				</div>
			</div>
	    </div>		
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script>
    var app = new Vue({
    	el:'#app',
    	data:{
    		info:{
    			//物料编号
    			matnr:'',
    			//物料描述
    			maktx:'',
    			//生产批次 批号
    			charg:'',
    			//实际入库数量
    			inpme:'',
    			//仓储单位类型
    			letyp:'',
    			//库存地点
    			lgort:'',
    			//仓库号/混合仓库
    			lgnum:'',
    			//仓位
    			lgpla:'',
    			//供应商
    			lifnr:'',
    			//计量单位
    			meins:'',
    			//生产日期
    			pridt:'',
    			//入库已经转为物料凭证
    			rkqui:'',
    			//特殊库存标识
    			sobkz:'',
    			//工厂编号
    			werks:''
    		}
    	},
    	methods:{
    		initialize:function() {

    		},
    		/**
    		 * [btnDelete 清空数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		btnDelete:function() {
    			let that = this;
    			that.info = {
	    			//物料编号
	    			matnr:'',
	    			//物料描述
	    			maktx:'',
	    			//生产批次 批号
	    			charg:'',
	    			//实际入库数量
	    			inpme:'',
	    			//仓储单位类型
	    			letyp:'',
	    			//库存地点
	    			lgort:'',
	    			//仓库号/混合仓库
	    			lgnum:'',
	    			//仓位
	    			lgpla:'',
	    			//供应商
	    			lifnr:'',
	    			//计量单位
	    			meins:'',
	    			//生产日期
	    			pridt:'',
	    			//入库已经转为物料凭证
	    			rkqui:'',
	    			//特殊库存标识
	    			sobkz:'',
	    			//工厂编号
	    			werks:''
    			};
    		},
    		/**
    		 * [btnSubmit 提交数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		btnSubmit:async function() {
    			let that = this;
    			let validate = that.submit_validate();
    			if(validate.error !== false) {
    				layer.alert(validate.message,szjcomo_service.layer_options({title:'信息完善提醒',icon:2}));
    				return false;
    			}
    			let result = await szjcomo_service.receive_onshelve({itList:{item:[validate.data]}});
    			if(result.error !== false) {
    				layer.alert(result.message,szjcomo_service.layer_options({title:'入库上架失败提醒',icon:2}));
    				return false;
    			}
    			console.log(result);
    		},
    		/**
    		 * [submit_validate 验证数据]
    		 * @author 	   szjcomo
    		 * @createTime 2020-07-28
    		 * @return     {[type]}   [description]
    		 */
    		submit_validate:function() {
    			let that = this;
    			if(that.info.werks.length == 0) return szjcomo_service.appResult('工厂编号不能为空');
    			if(that.info.matnr.length == 0) return szjcomo_service.appResult('物料编码不能为空');
    			return szjcomo_service.appResult('SUCCESS',that.info,false);
     		}
    	},
    	created:function() {
    		this.initialize();
    	}
    });
</script>
</body>
</html>