<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>移仓下架</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/jquery-ui-1.10.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/layer-app.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/jquery-bpopup-min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.js"></script>
</head>
<body>
	<div id="app">
	    <div class="content">
	        <div class="container">
				<a href="transfer_home.html" style="font-size:18px;">
					<div class="menu" style="margin-top:20px;">返回上级</div>
				</a>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						条码信息 <input type="text" id="txtBarcode" style="width: 72%" v-model="info.tiaoma" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						提示信息 <input type="text" id="txtNotification" style="width: 72%" v-model="info.message" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料编码 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						物料描述 <input type="text" id="txtVendor" style="width: 72%" v-model="info.matnr_desc" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						批次 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_batch" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						计数 <input type="text" id="txtVendor" style="width: 72%" v-model="info.product_number" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						仓库编号 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_index" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						库存地点 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_address" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						仓储类型 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_type" />
					</span>
				</div> 
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align: right">
						货架 <input type="text" id="txtVendor" style="width: 72%" v-model="info.stock_number" />
					</span>
				</div>
				<div class="normal-form-row">
					<span style="padding-top:10px; text-align:right">
						本次转储 <input type="text" id="txtVendor" style="width: 72%" v-model="info.current_index" />
					</span>
				</div> 
				<!-- <div class="normal-form-row">
					<span style="padding-top:10px; text-align:center">
						<input type="button" id="btnAdd" value=" 加 入 " style="color: #666666;" />
						&nbsp;&nbsp;<input type="button" id="btnAdd" value="打印余数标签" style="color: #666666;" />				
					</span>
				</div>  -->
				<div style="height: 1px; background-color: #f2f3f4; margin-top:10px;"></div>
				<div class="col-md-12">	
					<div class="normal-form-row">
					  <span style="padding-top:20px; text-align:center">
						<input type="button" id="btnDelete" value="删除所选" style="color: #666666" @click="btnDelete"/>
						<input type="button" id="btnSubmit" value="下架暂存" style="color: #666666" @click="btnSubmit"/>
						<!-- <input type="button" id="btnSubmit" value="直接下架" style="color: #666666" /> -->
					  </span>
					</div>
				</div>		
			</div>
	    </div>		
	</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            info:{}
        },
        methods:{
            initialize:function() {
                console.log('初始化');
            },
            /**
             * [btnDelete 清空选项]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnDelete:function() {
                let that = this;
                that.info = {};
            },
            /**
             * [btnSubmit 提交信息]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            btnSubmit:async function() {
                let that = this;
                let validate = that.submit_validate();
                if(validate.error !== false) {
                    layer.alert(validate.message,szjcomo_service.layer_options({title:'参数完善提醒',icon:2}));
                    return false;
                }
                let result = await szjcomo_service.transfer_offshelve(validate.data);
                if(result.error !== false) {
                    layer.alert(result.message,szjcomo_service.layer_options({title:'数据操作失败提醒',icon:2}));
                    return false;
                }
                console.log(result);
            },
            /**
             * [submit_validate 参数验证]
             * @author        szjcomo
             * @createTime 2020-07-28
             * @return     {[type]}   [description]
             */
            submit_validate:function() {
                let that = this;
                let fields = {
                	tiaoma:'条码信息不能为空',
                	message:'提示信息不能为空',
                	matnr:'物料编号不能为空',
                	matnr_desc:'物料描述信息不能为空',
                	product_batch:'生产批次不能为空',
                	product_number:'计数不能为空',
                	stock_index:'仓库编号不能为空',
                	stock_address:'库存地点不能为空',
                	stock_type:'仓储类型不能为空',
                	stock_number:'货加号不能为空',
                	current_index:'本次转储不能为空'
                };
                let res = szjcomo_service.check_empty(fields,that.info);
                return res;
            }
        },
        created:function() {
            this.initialize();
        }
    });
</script>
</body>
</html>