<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="fastersocial" connectionString="SERVER=localhost;Port=4050;DATABASE=faster_social_v2;UID=root;PASSWORD=pass2015;"/>
  </connectionStrings>

  <appSettings>
    <add key="ServiceUrl" value="http://121.40.161.12:60008/images/" />
    <add key="SMTPServer" value="smtp.mxhichina.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPCredential" value="False" />
    <add key="SenderName" value="Fastersys Service Forward" />
    <add key="SenderEmail" value="service@fastersys.com" />
    <add key="Password" value="000000" />
	
	<add key="RejectReason1" value="尊敬的用户，您上传的头像不合规！将不予向公众展示您的个人资料，请上传合规头像！" />
    <add key="RejectReason2" value="尊敬的用户，您上传的相片不合规！将不予向公众展示您的个人资料，请上传合规相片！" />
    <add key="RejectReason3" value="尊敬的用户，个人资料区域禁止显示不文明及非法文字资料！将不予向公众展示您的个人资料，请及时更正！" />
    <add key="SupportID" value="FILU180815-00000011" />
  </appSettings>

  <system.web>
    <httpHandlers>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <httpRuntime requestValidationMode="2.0" maxRequestLength="2048576" executionTimeout="3600"/>

    <!--<customErrors mode="On" defaultRedirect="error.aspx" />-->
    <customErrors mode="Off"/>

    <pages validateRequest="false">
      <controls>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <globalization responseEncoding="utf-8" requestEncoding="utf-8" uiCulture="zh-cn" culture="zh-cn" fileEncoding="utf-8" />
    <!--<globalization responseEncoding="gb2312" requestEncoding="gb2312" uiCulture="zh-cn" culture="zh-cn" fileEncoding="gb2312"/>-->

    <sessionState mode="InProc" timeout="5" />

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>-->

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
    </handlers>
  </system.webServer>

</configuration>